<div aria-hidden="true" class="pointer-events-none absolute inset-0 overflow-hidden">
  <div class="absolute -left-20 top-0 h-[260px] w-[460px] rotate-12 bg-gradient-to-r from-transparent via-white/20 to-transparent blur-3xl" />
  <div class="absolute right-0 top-20 h-[300px] w-[500px] -rotate-6 bg-gradient-to-r from-transparent via-white/15 to-transparent blur-3xl" />
  <div class="absolute left-1/4 top-1/2 h-[220px] w-[420px] bg-gradient-to-r from-transparent via-white/10 to-transparent blur-2xl" />
</div>
